.logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container{
	width: 1000px;
}


.title{
	background-color: #515151;
	color: white;
	text-align: center;
}

.content-container{
	position: relative;

}

.semesters-container, .subject-selection-container{
	margin-top: 40px;
	width: 350px;
	border: 1px solid;
	border-color: black;
}

.semesters-container{
	float: left;
	position: relative;
	left: 0px;
}
.subject-selection-container{
	float: right;
	position: absolute;
	left: 385px;
}

 .buttons-position{
	float: right;
	margin-top: 40px;
	width: 220px;
	height: 376px;
	position: absolute;
	right: 0;
}

.buttons-container{
	position: relative;
}

.semester-title, .subject-selection-title{
	background-color: #37537a;
	color: white;
	text-align: center;
	height: 65px;
	line-height: 65px;
	font-size: 18px;
	font-weight: bold;
	position: relative;
}

#back-bttn{
	cursor: pointer;
	width: 27px;
	height: 27px;
	position: absolute;
	left: 10px;
	top: 20px;
	background-image: url("img/arrow_back_white_27x27.png");
}

.semesters, .subjects, #semester-subjects {
	background-color: #ededed;
	margin-top: 0;
	height: 310px;
	padding-top: 10px;
}

#semester-subjects {
	position: absolute;
	width: 348px;
	top:65px;
	left:0;
}


ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

.semester-list-container-1 {
	float: left;
	margin-left: 10px;
	margin-right: 15px;
}
.semester-list-container-2 {
	float: left;
	margin-right: 8px;
	margin-left: 15px;
}

.list-element-container{
	background-color: #5c8fd6;
	color: white;
	font-weight: bold;
	width: 150px;
	margin-bottom: 10px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}

.list-element-container:hover{
	background-color: lightsteelblue;
}

.list-element-container:active{
	background-color: darkblue;
}


#subject-list-1 div {
	background-color: #5c8fd6;
	color: white;
	font-weight: bold;
	font-size: 11px;
	width: 150px;
	margin-bottom: 10px;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
#subject-list-2 div {
	background-color: #5c8fd6;
	color: white;
	font-weight: bold;
	font-size: 11px;
	width: 150px;
	margin-bottom: 10px;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

#subject-list-1 div li {
	line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

#subject-list-2 div li {
	line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

#subject-list-3 div {
	background-color: #5c8fd6;
	color: white;
	font-weight: bold;
	font-size: 11px;
	width: 150px;
	margin-bottom: 10px;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
#subject-list-4 div {
	background-color: #5c8fd6;
	color: white;
	font-weight: bold;
	font-size: 11px;
	width: 150px;
	margin-bottom: 10px;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

#subject-list-3 div li {
	line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

#subject-list-4 div li {
	line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
.buttons-container div{
	color: white;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	width: 200px;
	height: 50px;
	line-height: 50px;
}

.button-plan{
	background-color: #ffb200;
	position: absolute;
	right: 0px;
	top: 103px;
}

.button-eliminar{
	background-color: firebrick;
	position: absolute;
	right: 0px;
	top: 163px;
	cursor: pointer;
}

.button-eliminar:hover {
	background-color: indianred;
}

.button-eliminar:active {
	background-color: red;
}

.button-contruir{
	background-color: green;
	position: absolute;
	right: 0px;
	top: 223px;
	cursor: pointer;
}

.button-contruir:hover {
	background-color: limegreen;
}

.button-contruir:active {
	background-color: darkgreen;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: dimgrey;
	text-decoration: underline;
}

a:active {
	color: black;
	text-decoration: underline;
}